{% extends 'main.html' %}
{% block title %} Authors {% endblock title %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        {% for author in authors %}
        <div class="col-md-4">
            <a href="{% url 'books' author.id %}">
                <div class="card" style="width: 18rem;background-color: darkcyan;">
                    <div class="card-body">
                        <h5 class="card-title"> {{author}} </h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}